<div class="bg-dark border.right p-3" id="sidebar">
  <h3 class="text-light">
    Gifs-App
  </h3>
  <div class="list-group list-reset" *ngFor="let hist of historial">
    <!-- Transforma el titulo a TitleCase -->
    <a href="#" class="list-group-item list-group-item-action m-1" (click)="findGif(hist)">{{hist | titlecase}}</a>
  </div>

    </div>
