<div class="row">
<div class="col-md-4 col-sm-6 m-2 animate__animated animate__fadeInRight" *ngFor="let gif of results">
  <div class="card">
    <img [src]="gif.images.downsized_medium.url" alt="gif" class="card-img-top"/>
  <div class="card-body">
    <div class="card-text">
      {{gif.title | titlecase}}

    </div>
  </div>

  </div>

</div>

</div>
